.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
webpack.config.js
vsc-extension-quickstart.md
**/tsconfig.json
**/jsconfig.json
**/.eslintrc.json
**/.eslintrc.cjs
**/.eslintrc.js
**/eslint.config.js
**/*.map
**/*.ts
rollup.config.js